[submodule "external/decomp-permuter"]
	path = external/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
[submodule "external/psyq_headers"]
	path = external/psyq_headers
	url = https://github.com/jype0/psyq_headers.git
[submodule "external/m2c"]
	path = external/m2c
	url = https://github.com/matt-kempster/m2c.git
